# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and build outputs
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python and data files
logs/
.env
__pycache__/
*.pyc
*.log
*.db
data/*.db
models/model.pkl
models/metrics.txt
outputs/
*.lockb
components.json
ss
utils/
security.py

# Explicitly include necessary files for Vercel
!api/
!api/**/*.cts
!src/
!src/**/*.tsx
!src/**/*.ts
!vercel.json
!package.json
!tsconfig.json
!api/predict.ts
!api/data/oprs.ts
!api/data/myor.ts
!api/data/interbank_rates.ts
!api/data/interbank_volumes.ts